body { margin: 0; background: #f5f7fb; font-family: Arial; }

.nav {
  background: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 5px #0001;
}

.nav a { margin-right: 15px; text-decoration: none; font-weight: bold; }

.main {
  padding: 30px;
}

.form-card, .home-card {
  background: white;
  width: 350px;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 10px #0001;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
}

button {
  background: #008cff;
  color: white;
  border: none;
  cursor: pointer;
}

.form-container {
  width: 450px;
  margin: 40px auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
  color: #1d4ed8;
}

.form label {
  margin-top: 10px;
  font-weight: bold;
  display: block;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.role-box {
  margin: 15px 0;
  display: flex;
  gap: 20px;
}

.btn {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 6px;
}

.login-btn {
  background: #2563eb;
}

.register-btn {
  background: #16a34a;
}

.center-text {
  text-align: center;
  margin-top: 15px;
}
